In [219]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

In [179]:
data = pd.read_csv('complete_dataset.csv')
merged = pd.read_csv('../../../data_v2/health-facilities-2021_v2.csv')
pov = pd.read_csv('../../../data_v2/cities_poverty_indexe_v2.csv')
modelled = pd.read_csv('../../task-4-modelling/dti_consolidated_final.csv')
pop = pd.read_csv('../../../data_v2/population_data_v2.csv', thousands=',')

In [180]:
data.head(1)

,city_municipality,year,accommodation_capacity,active_establishments_in_the_locality,annual_disaster_drill,availability_of_basic_internet_service,availability_of_basic_utilities,budget_for_drrmp,capacity_of_health_services,capacity_of_school_services,...,presence_of_business_and_professional_organizations,presence_of_investment_promotion_unit,productivity,recognition_of_performance,road_network,safety_compliant_business,sanitary_system,social_protection,transportation_vehicles,utilities
0,Aborlan,2017,0.0000,0.2120,2.5000,-,2.5000,0.0017,0.1098,0.2879,...,0.0000,2.5000,0.0145,0.2879,0.0000,0.1943,1.5706,0.1104,0.0204,0.9949

In [181]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9792 entries, 0 to 9791
Data columns (total 42 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   city_municipality                                    9792 non-null   object
 1   year                                                 9792 non-null   int64
 2   accommodation_capacity                               9792 non-null   object
 3   active_establishments_in_the_locality                9792 non-null   object
 4   annual_disaster_drill                                9792 non-null   object
 5   availability_of_basic_internet_service               9792 non-null   object
 6   availability_of_basic_utilities                      9792 non-null   object
 7   budget_for_drrmp                                     9792 non-null   object
 8   capacity_of_health_services                          9792 non-null   object
 9   capacity_of_school_services                          9792 non-null   object
 10  capacity_to_generate_local_resource                  9792 non-null   object
 11  compliance_to_arta_citizens_charter                  9792 non-null   object
 12  compliance_to_national_directives                    9792 non-null   object
 13  cost_of_doing_business                               9792 non-null   object
 14  cost_of_living                                       9792 non-null   object
 15  disaster_risk_reduction_plan                         9792 non-null   object
 16  distance_to_ports                                    9792 non-null   object
 17  early_warning_system                                 9792 non-null   object
 18  education                                            9792 non-null   object
 19  emergency_infrastructure                             9792 non-null   object
 20  employed_population                                  9792 non-null   object
 21  employment_generation                                9792 non-null   object
 22  financial_deepening                                  9792 non-null   object
 23  financial_technology_capacity                        9792 non-null   object
 24  getting_business_permits                             9792 non-null   object
 25  health                                               9792 non-null   object
 26  lgu_investment                                       9792 non-null   object
 27  land_use_plan                                        9792 non-null   object
 28  local_economy_growth                                 9792 non-null   object
 29  local_economy_size                                   9792 non-null   object
 30  local_risk_assessments                               9792 non-null   object
 31  peace_and_order                                      9792 non-null   object
 32  presence_of_business_and_professional_organizations  9792 non-null   object
 33  presence_of_investment_promotion_unit                9792 non-null   object
 34  productivity                                         9792 non-null   object
 35  recognition_of_performance                           9792 non-null   object
 36  road_network                                         9792 non-null   object
 37  safety_compliant_business                            9792 non-null   object
 38  sanitary_system                                      9792 non-null   object
 39  social_protection                                    9792 non-null   object
 40  transportation_vehicles                              9792 non-null   object
 41  utilities                                            9792 non-null   object
dtypes: int64(1), object(41)
memory usage: 3.1+ MB

In [182]:
merged.head(1)

,name,Ambulatory Surgical Clinic,Animal Bite Treatment Center,Barangay Health Station,Birthing Home,City Health Office,COVID-19 Testing Laboratory,DepEd Clinic,Dialysis Clinic,Drug Abuse Treatment and Rehabilitation Centers,...,General Clinic Laboratory,Hospital,Infirmary,Municipal Health Office,Provincial Health Office,Psychiatric Care Facility,Rural Health Unit,Social hygiene Clinic,Total,year
0,Aborlan,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,20.0,2021

In [183]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632 entries, 0 to 1631
Data columns (total 21 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   name                                             1632 non-null   object
 1   Ambulatory Surgical Clinic                       1631 non-null   float64
 2   Animal Bite Treatment Center                     1631 non-null   float64
 3   Barangay Health Station                          1631 non-null   float64
 4   Birthing Home                                    1631 non-null   float64
 5   City Health Office                               1631 non-null   float64
 6   COVID-19 Testing Laboratory                      1631 non-null   float64
 7   DepEd Clinic                                     1631 non-null   float64
 8   Dialysis Clinic                                  1631 non-null   float64
 9   Drug Abuse Treatment and Rehabilitation Centers  1631 non-null   float64
 10  Drug Testing Laboratory                          1631 non-null   float64
 11  General Clinic Laboratory                        1631 non-null   float64
 12  Hospital                                         1631 non-null   float64
 13  Infirmary                                        1631 non-null   float64
 14  Municipal Health Office                          1631 non-null   float64
 15  Provincial Health Office                         1631 non-null   float64
 16  Psychiatric Care Facility                        1631 non-null   float64
 17  Rural Health Unit                                1631 non-null   float64
 18  Social hygiene Clinic                            1631 non-null   float64
 19  Total                                            1631 non-null   float64
 20  year                                             1632 non-null   int64
dtypes: float64(19), int64(1), object(1)
memory usage: 267.9+ KB

In [184]:
mask = merged.isnull().any(axis=1)
rows_with_null = merged[mask]
print(rows_with_null)

              name  Ambulatory Surgical Clinic  Animal Bite Treatment Center  \
640  Kalayaan (PN)                         NaN                           NaN

     Barangay Health Station  Birthing Home  City Health Office  \
640                      NaN            NaN                 NaN

     COVID-19 Testing Laboratory  DepEd Clinic  Dialysis Clinic  \
640                          NaN           NaN              NaN

     Drug Abuse Treatment and Rehabilitation Centers  ...  \
640                                              NaN  ...

     General Clinic Laboratory  Hospital  Infirmary  Municipal Health Office  \
640                        NaN       NaN        NaN                      NaN

     Provincial Health Office  Psychiatric Care Facility  Rural Health Unit  \
640                       NaN                        NaN                NaN

     Social hygiene Clinic  Total  year
640                    NaN    NaN  2021

[1 rows x 21 columns]

In [185]:
merged.fillna(value=0, inplace=True)
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632 entries, 0 to 1631
Data columns (total 21 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   name                                             1632 non-null   object
 1   Ambulatory Surgical Clinic                       1632 non-null   float64
 2   Animal Bite Treatment Center                     1632 non-null   float64
 3   Barangay Health Station                          1632 non-null   float64
 4   Birthing Home                                    1632 non-null   float64
 5   City Health Office                               1632 non-null   float64
 6   COVID-19 Testing Laboratory                      1632 non-null   float64
 7   DepEd Clinic                                     1632 non-null   float64
 8   Dialysis Clinic                                  1632 non-null   float64
 9   Drug Abuse Treatment and Rehabilitation Centers  1632 non-null   float64
 10  Drug Testing Laboratory                          1632 non-null   float64
 11  General Clinic Laboratory                        1632 non-null   float64
 12  Hospital                                         1632 non-null   float64
 13  Infirmary                                        1632 non-null   float64
 14  Municipal Health Office                          1632 non-null   float64
 15  Provincial Health Office                         1632 non-null   float64
 16  Psychiatric Care Facility                        1632 non-null   float64
 17  Rural Health Unit                                1632 non-null   float64
 18  Social hygiene Clinic                            1632 non-null   float64
 19  Total                                            1632 non-null   float64
 20  year                                             1632 non-null   int64
dtypes: float64(19), int64(1), object(1)
memory usage: 267.9+ KB

In [186]:
pov.head(1)

  municipality  pov_inc
0      Aborlan    13.33

In [187]:
pov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632 entries, 0 to 1631
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   municipality  1632 non-null   object
 1   pov_inc       1632 non-null   float64
dtypes: float64(1), object(1)
memory usage: 25.6+ KB

In [188]:
merged.columns.to_list()

['name',
 'Ambulatory Surgical Clinic',
 'Animal Bite Treatment Center',
 'Barangay Health Station',
 'Birthing Home',
 'City Health Office',
 'COVID-19 Testing Laboratory',
 'DepEd Clinic',
 'Dialysis Clinic',
 'Drug Abuse Treatment and Rehabilitation Centers',
 'Drug Testing Laboratory',
 'General Clinic Laboratory',
 'Hospital',
 'Infirmary',
 'Municipal Health Office',
 'Provincial Health Office',
 'Psychiatric Care Facility',
 'Rural Health Unit',
 'Social hygiene Clinic',
 'Total',
 'year']

In [189]:
merged_data = merged[
    ['name', 'Hospital',
    'Barangay Health Station',
    'Rural Health Unit',
    'COVID-19 Testing Laboratory',
    'Infirmary',]]
merged_data

,name,Hospital,Barangay Health Station,Rural Health Unit,COVID-19 Testing Laboratory,Infirmary
0,Aborlan,1.0,18.0,1.0,0.0,0.0
1,Abra De Ilog,0.0,9.0,1.0,0.0,1.0
2,Abucay,0.0,11.0,1.0,0.0,0.0
3,Abulug,1.0,8.0,1.0,0.0,0.0
4,Abuyog,1.0,17.0,2.0,0.0,0.0
...,...,...,...,...,...,...
1627,Zamboanga,13.0,87.0,17.0,4.0,3.0
1628,Zamboanguita,0.0,10.0,1.0,0.0,0.0
1629,Zaragoza,0.0,6.0,2.0,0.0,0.0
1630,Zarraga,0.0,4.0,1.0,0.0,0.0
1631,Zumarraga,0.0,5.0,1.0,0.0,0.0

In [190]:
pov.head(1)

  municipality  pov_inc
0      Aborlan    13.33

In [191]:
pov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632 entries, 0 to 1631
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   municipality  1632 non-null   object
 1   pov_inc       1632 non-null   float64
dtypes: float64(1), object(1)
memory usage: 25.6+ KB

In [192]:
modelled.head(1)

,Unnamed: 0,Presence of Investment Promotion Unit,Land Use Plan,Population,Local Economy Growth,Availability of Basic Utilities,Budget for DRRMP,Capacity of School Services,Transportation Vehicles,Education,Poverty_Incidents,Cluster_Id
0,Aborlan,0.66668,0.96924,0.054114,0.006795,0.84188,0.058914,0.025599,0.006791,0.118616,0.141845,2

In [193]:
modelled_data = modelled[
    ['Unnamed: 0', 'Cluster_Id']]
modelled_data

        Unnamed: 0  Cluster_Id
0          Aborlan           2
1     Abra De Ilog           1
2           Abucay           2
3           Abulug           1
4           Abuyog           2
...            ...         ...
1627     Zamboanga           0
1628  Zamboanguita           1
1629      Zaragoza           2
1630       Zarraga           2
1631     Zumarraga           1

[1632 rows x 2 columns]

In [194]:
pop.head(1)

  city_municipality  population
0           Aborlan       35091

In [195]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632 entries, 0 to 1631
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city_municipality  1632 non-null   object
 1   population         1632 non-null   int64
dtypes: int64(1), object(1)
memory usage: 25.6+ KB

In [196]:
merged_data['Cluster_Id'] = modelled_data['Cluster_Id']
merged_data

C:\Users\kmedr\AppData\Local\Temp\ipykernel_17964\385119136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['Cluster_Id'] = modelled_data['Cluster_Id']

,name,Hospital,Barangay Health Station,Rural Health Unit,COVID-19 Testing Laboratory,Infirmary,Cluster_Id
0,Aborlan,1.0,18.0,1.0,0.0,0.0,2
1,Abra De Ilog,0.0,9.0,1.0,0.0,1.0,1
2,Abucay,0.0,11.0,1.0,0.0,0.0,2
3,Abulug,1.0,8.0,1.0,0.0,0.0,1
4,Abuyog,1.0,17.0,2.0,0.0,0.0,2
...,...,...,...,...,...,...,...
1627,Zamboanga,13.0,87.0,17.0,4.0,3.0,0
1628,Zamboanguita,0.0,10.0,1.0,0.0,0.0,1
1629,Zaragoza,0.0,6.0,2.0,0.0,0.0,2
1630,Zarraga,0.0,4.0,1.0,0.0,0.0,2
1631,Zumarraga,0.0,5.0,1.0,0.0,0.0,1

In [197]:
merged_data['Poverty_Incidents'] = pov['pov_inc']
merged_data

C:\Users\kmedr\AppData\Local\Temp\ipykernel_17964\121772895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['Poverty_Incidents'] = pov['pov_inc']

,name,Hospital,Barangay Health Station,Rural Health Unit,COVID-19 Testing Laboratory,Infirmary,Cluster_Id,Poverty_Incidents
0,Aborlan,1.0,18.0,1.0,0.0,0.0,2,13.33
1,Abra De Ilog,0.0,9.0,1.0,0.0,1.0,1,20.46
2,Abucay,0.0,11.0,1.0,0.0,0.0,2,5.30
3,Abulug,1.0,8.0,1.0,0.0,0.0,1,14.79
4,Abuyog,1.0,17.0,2.0,0.0,0.0,2,28.17
...,...,...,...,...,...,...,...,...
1627,Zamboanga,13.0,87.0,17.0,4.0,3.0,0,18.00
1628,Zamboanguita,0.0,10.0,1.0,0.0,0.0,1,17.50
1629,Zaragoza,0.0,6.0,2.0,0.0,0.0,2,3.82
1630,Zarraga,0.0,4.0,1.0,0.0,0.0,2,10.83
1631,Zumarraga,0.0,5.0,1.0,0.0,0.0,1,38.87

In [198]:
merged_data['Population'] = pop['population']
merged_data

C:\Users\kmedr\AppData\Local\Temp\ipykernel_17964\1007120054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['Population'] = pop['population']

,name,Hospital,Barangay Health Station,Rural Health Unit,COVID-19 Testing Laboratory,Infirmary,Cluster_Id,Poverty_Incidents,Population
0,Aborlan,1.0,18.0,1.0,0.0,0.0,2,13.33,35091
1,Abra De Ilog,0.0,9.0,1.0,0.0,1.0,1,20.46,31306
2,Abucay,0.0,11.0,1.0,0.0,0.0,2,5.30,42984
3,Abulug,1.0,8.0,1.0,0.0,0.0,1,14.79,32497
4,Abuyog,1.0,17.0,2.0,0.0,0.0,2,28.17,59571
...,...,...,...,...,...,...,...,...,...
1627,Zamboanga,13.0,87.0,17.0,4.0,3.0,0,18.00,977234
1628,Zamboanguita,0.0,10.0,1.0,0.0,0.0,1,17.50,27552
1629,Zaragoza,0.0,6.0,2.0,0.0,0.0,2,3.82,53090
1630,Zarraga,0.0,4.0,1.0,0.0,0.0,2,10.83,27305
1631,Zumarraga,0.0,5.0,1.0,0.0,0.0,1,38.87,16936

In [199]:
merged_data.columns.to_list()

['name',
 'Hospital',
 'Barangay Health Station',
 'Rural Health Unit',
 'COVID-19 Testing Laboratory',
 'Infirmary',
 'Cluster_Id',
 'Poverty_Incidents',
 'Population']

In [200]:
merged_data = merged_data[
    ['name','Hospital', 'Infirmary',
    'Barangay Health Station', 'Rural Health Unit',
    'COVID-19 Testing Laboratory', 'Poverty_Incidents',
    'Population', 'Cluster_Id']]

In [201]:
merged_data.rename({'name': 'City', 'COVID-19 Testing Laboratory': 'COVID Testing Lab'}, axis=1, inplace=True)
merged_data.head(1)

,City,Hospital,Infirmary,Barangay Health Station,Rural Health Unit,COVID Testing Lab,Poverty_Incidents,Population,Cluster_Id
0,Aborlan,1.0,0.0,18.0,1.0,0.0,13.33,35091,2

In [202]:
merged_data['Vulnerability'] = merged_data['Cluster_Id'].apply(lambda x:'low' if x==0 else('medium'if x==2 else 'high'))
merged_data.head(1)

,City,Hospital,Infirmary,Barangay Health Station,Rural Health Unit,COVID Testing Lab,Poverty_Incidents,Population,Cluster_Id,Vulnerability
0,Aborlan,1.0,0.0,18.0,1.0,0.0,13.33,35091,2,medium

In [203]:
gdf1 = gpd.read_file('../../../data/geolocation/ph_cities_joined_v2/ph_cities_v2.shp')
gdf1.head(1)

,psgc,name,city_munic,province,clean_idx,longitude,latitude,coords,geometry
0,1705301000,Aborlan,Aborlan,Palawan,"aborlan, palawan",118.548417,9.437101,"9.4371009, 118.5484168","MULTIPOLYGON (((118.57998 9.37215, 118.57982 9..."

In [213]:
merged_data['Province'].str.strip()

0                  Palawan
1       Occidental Mindoro
2                   Bataan
3                  Cagayan
4                    Leyte
               ...
1627           Catanduanes
1628         Lanao del Sur
1629     Zamboanga del Sur
1630       Negros Oriental
1631           Nueva Ecija
Name: Province, Length: 1632, dtype: object

In [224]:
merged_data['Province'] = merged_data['Province'].astype(str)
merged_data['Province'].dtypes

dtype('O')

In [217]:
merged_data['Province'].unique()

array(['Palawan', 'Occidental Mindoro', 'Bataan', 'Cagayan', 'Leyte',
       'Ilocos Norte', 'Quezon', 'Quirino', 'Pangasinan', 'Batangas',
       'La Union', 'Ifugao', 'Iloilo', 'Basilan', 'Sarangani', 'Cotabato',
       'Laguna', 'Bohol', 'Cebu', 'Romblon', 'Surigao del Norte',
       'Cavite', 'Nueva Vizcaya', 'Nueva Ecija', 'Isabela',
       'Zamboanga Sibugay', 'Ilocos Sur', 'Northern Samar', 'Samar',
       'Biliran', 'Misamis Occidental', 'Aklan', 'Misamis Oriental',
       'Lanao del Sur', 'Negros Oriental', 'Maguindanao del Sur',
       'Southern Leyte', 'Tarlac', 'Bulacan', 'Pampanga', 'Rizal',
       'Antique', 'Masbate', 'Eastern Samar', 'Davao del Norte',
       'Benguet', 'Zamboanga del Sur', 'Camarines Sur', 'Albay',
       'Oriental Mindoro', 'Lanao del Norte', 'Negros Occidental',
       'Zamboanga del Norte', 'Catanduanes', 'Davao Oriental',
       'Sultan Kudarat', 'Kalinga', 'Aurora', 'South Cotabato', 'Abra',
       'Davao del Sur', 'Sorsogon', 'Maguindanao del Norte',
       'Mountain Province', 'Surigao del Sur', 'Batanes',
       'Dinagat Islands', 'Camarines Norte', 'Bukidnon', 'Agusan del Sur',
       'Marinduque', 'Tawi-Tawi', 'Zambales', 'Agusan del Norte',
       'Guimaras', 'Apayao', 'Metropolitan Manila', 'Camiguin',
       'Davao de Oro', 'Capiz', 'Davao Occidental', 'Siquijor', 'Sulu'],
      dtype=object)

In [212]:
cond = merged_data[merged_data['Province'] == 'Bataan']['Latitude'].tolist()
cond

[14.7213146,
 14.5967431,
 14.6795669,
 14.8673996,
 14.8302478,
 14.5625242,
 14.4341194,
 14.6779981,
 14.8012181,
 14.62157,
 14.6669245,
 14.7693766]

In [204]:
merged_data[['Province', 'Longitude', 'Latitude', 'Geometry']] = gdf1[['province', 'longitude', 'latitude', 'geometry']]
merged_data.head()

,City,Hospital,Infirmary,Barangay Health Station,Rural Health Unit,COVID Testing Lab,Poverty_Incidents,Population,Cluster_Id,Vulnerability,Province,Longitude,Latitude,Geometry
0,Aborlan,1.0,0.0,18.0,1.0,0.0,13.33,35091,2,medium,Palawan,118.548417,9.437101,"MULTIPOLYGON (((118.57998 9.37215, 118.57982 9..."
1,Abra De Ilog,0.0,1.0,9.0,1.0,0.0,20.46,31306,1,high,Occidental Mindoro,120.726826,13.443721,"POLYGON ((120.60896 13.35233, 120.60797 13.373..."
2,Abucay,0.0,0.0,11.0,1.0,0.0,5.30,42984,2,medium,Bataan,120.534870,14.721315,"POLYGON ((120.45676 14.69671, 120.45620 14.696..."
3,Abulug,1.0,0.0,8.0,1.0,0.0,14.79,32497,1,high,Cagayan,121.457273,18.443485,"MULTIPOLYGON (((121.40276 18.40896, 121.40276 ..."
4,Abuyog,1.0,0.0,17.0,2.0,0.0,28.17,59571,2,medium,Leyte,125.011485,10.747102,"POLYGON ((125.04650 10.56751, 125.04588 10.576..."

In [205]:
merged_data.columns.to_list()

['City',
 'Hospital',
 'Infirmary',
 'Barangay Health Station',
 'Rural Health Unit',
 'COVID Testing Lab',
 'Poverty_Incidents',
 'Population',
 'Cluster_Id',
 'Vulnerability',
 'Province',
 'Longitude',
 'Latitude',
 'Geometry']

In [206]:
merged_data = merged_data[
        ['City', 'Province', 'Hospital',
        'Infirmary', 'Barangay Health Station',
        'Rural Health Unit', 'COVID Testing Lab', 'Poverty_Incidents',
        'Population', 'Cluster_Id', 'Vulnerability', 'Longitude',
        'Latitude', 'Geometry']]

In [207]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632 entries, 0 to 1631
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   City                     1632 non-null   object
 1   Province                 1632 non-null   object
 2   Hospital                 1632 non-null   float64
 3   Infirmary                1632 non-null   float64
 4   Barangay Health Station  1632 non-null   float64
 5   Rural Health Unit        1632 non-null   float64
 6   COVID Testing Lab        1632 non-null   float64
 7   Poverty_Incidents        1632 non-null   float64
 8   Population               1632 non-null   int64
 9   Cluster_Id               1632 non-null   int64
 10  Vulnerability            1632 non-null   object
 11  Longitude                1632 non-null   float64
 12  Latitude                 1632 non-null   float64
 13  Geometry                 1624 non-null   geometry
dtypes: float64(8), geometry(1), int64(2), object(3)
memory usage: 178.6+ KB

In [208]:
mask = merged_data.isnull().any(axis=1)
rows_with_null = merged_data[mask]
rows_with_null['City'].to_list()

['Datu Odin Sinsuat',
 'Datu Saudi-Ampatuan',
 'Hadji Panglima Tahil',
 'Isulan',
 'Kalibo',
 'Opol',
 'Siasi',
 'Tabuelan']

In [246]:
merged_data.rename({'geometry': 'Geom'}, axis=1, inplace=True)

In [247]:
merged_data.head(1)

,City,Province,Hospital,Infirmary,Barangay Health Station,Rural Health Unit,COVID Testing Lab,Poverty_Incidents,Population,Cluster_Id,Vulnerability,Longitude,Latitude,Geom
0,Aborlan,Palawan,1.0,0.0,18.0,1.0,0.0,13.33,35091,2,medium,118.548417,9.437101,"MULTIPOLYGON (((118.57998 9.37215, 118.57982 9..."

In [248]:
merged_data.to_csv('mapping_data.csv', index=False)

In [255]:
merged_geo_data = gpd.GeoDataFrame(merged_data, geometry='Geom')

In [257]:
type(merged_geo_data)

geopandas.geodataframe.GeoDataFrame

In [258]:
merged_geo_data.to_csv('mapping_data.csv', index=False)

In [259]:
merged_geo_data.to_parquet('mapping_data.parquet', compression='gzip')

In [252]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1632 entries, 0 to 1631
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   City                     1632 non-null   object
 1   Province                 1632 non-null   object
 2   Hospital                 1632 non-null   float64
 3   Infirmary                1632 non-null   float64
 4   Barangay Health Station  1632 non-null   float64
 5   Rural Health Unit        1632 non-null   float64
 6   COVID Testing Lab        1632 non-null   float64
 7   Poverty_Incidents        1632 non-null   float64
 8   Population               1632 non-null   int64
 9   Cluster_Id               1632 non-null   int64
 10  Vulnerability            1632 non-null   object
 11  Longitude                1632 non-null   float64
 12  Latitude                 1632 non-null   float64
 13  Geom                     1624 non-null   geometry
dtypes: float64(8), geometry(1), int64(2), object(3)
memory usage: 191.2+ KB

In [254]:
merged_data['Geom'].plot()

TypeError: no numeric data to plot

In [249]:
test2 = pd.read_csv('mapping_data.csv')
test2.head(1)

,City,Province,Hospital,Infirmary,Barangay Health Station,Rural Health Unit,COVID Testing Lab,Poverty_Incidents,Population,Cluster_Id,Vulnerability,Longitude,Latitude,Geom
0,Aborlan,Palawan,1.0,0.0,18.0,1.0,0.0,13.33,35091,2,medium,118.548417,9.437101,MULTIPOLYGON (((118.57997900000032 9.372150000...

In [250]:
test = gpd.read_file('mapping_data.csv')
test

,City,Province,Hospital,Infirmary,Barangay Health Station,Rural Health Unit,COVID Testing Lab,Poverty_Incidents,Population,Cluster_Id,Vulnerability,Longitude,Latitude,Geom,geometry
0,Aborlan,Palawan,1.0,0.0,18.0,1.0,0.0,13.33,35091,2,medium,118.5484168,9.4371009,MULTIPOLYGON (((118.57997900000032 9.372150000...,None
1,Abra De Ilog,Occidental Mindoro,0.0,1.0,9.0,1.0,0.0,20.46,31306,1,high,120.7268262,13.4437209,POLYGON ((120.60896301200034 13.35233020800012...,None
2,Abucay,Bataan,0.0,0.0,11.0,1.0,0.0,5.3,42984,2,medium,120.5348704,14.7213146,POLYGON ((120.45675659200003 14.69670963300006...,None
3,Abulug,Cagayan,1.0,0.0,8.0,1.0,0.0,14.79,32497,1,high,121.4572732,18.4434854,MULTIPOLYGON (((121.40276336600016 18.40896034...,None
4,Abuyog,Leyte,1.0,0.0,17.0,2.0,0.0,28.17,59571,2,medium,125.0114853,10.747102,POLYGON ((125.04650115900006 10.56750965100002...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,Zamboanga,Catanduanes,13.0,3.0,87.0,17.0,4.0,18.0,977234,0,low,124.2310553,13.5808157,POLYGON ((124.19309234600007 13.51863002800013...,None
1628,Zamboanguita,Lanao del Sur,0.0,0.0,10.0,1.0,0.0,17.5,27552,1,high,124.7254775,7.6384156,POLYGON ((124.80255889800003 7.623189927000112...,None
1629,Zaragoza,Zamboanga del Sur,0.0,0.0,6.0,2.0,0.0,3.82,53090,2,medium,122.079,6.9214,MULTIPOLYGON (((122.06639100100006 6.869720001...,None
1630,Zarraga,Negros Oriental,0.0,0.0,4.0,1.0,0.0,10.83,27305,2,medium,123.1994244,9.1004649,"POLYGON ((123.20749664200002 9.10484981500008,...",None
1631,Zumarraga,Nueva Ecija,0.0,0.0,5.0,1.0,0.0,38.87,16936,1,high,120.7935538,15.4475833,POLYGON ((120.81169891400009 15.47132015300013...,None